.logout-btn-cont{
    display: flex;
    justify-content: end;
    margin-right: 5%;
}

.logout-btn{
    margin-top: 3%;
    align-self: left;
    font-size: 2.5em;
    padding: 2%;
    color: #ffffff;
    background-color: black;
    cursor: pointer;
}

.dashboard{ height: 100%;}

.title{ font-size: 5em;}

.widgets{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10% 6%;
    width: 88%;
    min-height: 50%;
    row-gap: 150px;
}

.widget-cont{
    display: flex;
    background-color: #1c1e1f;
    flex-direction: column;
    border-radius: 6%;
    width: 45%;
    min-height: 525px;
    margin-bottom: 5%;
}

@media (max-width: 1120px) {
    
    .title{margin-bottom: 23%;}
    
    .logout-btn-cont{
        margin-top: 7%;
    }

    .widget-cont{
        width: 80%;
        margin: 0 10%;
    }
}

@media (max-width: 600px){

    .logout-btn{ padding: 5%;}

    .title{ 
        font-size: 4em;
        margin-bottom: 35%;
    }

    .widget-cont{
        width: 90%;
        margin: 5% 5%;
    }
}
