.location-popup-window{
    position: fixed;
    z-index: 2;
    top: 5%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #31393cf6;
    width: 90%;
    height: 90%;
    font-size: 2em;
    border-radius: 1.5%;
     overflow: auto;
}

.get-location-title{ 
    text-align: center;
    font-size: 2.5em;
    padding: 0 5%;
    margin-bottom: 10%;
}

@media (max-width: 900px){
    .get-location-title{ font-size: 1.8em;}
}

@media (max-width: 600px){
    .get-location-title{ font-size: 1.5em;}
}