files:
  "/etc/nginx/conf.d/ssl.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen 443 ssl;
        server_name "scottphebert.com/resources";

        ssl_certificate /etc/pki/tls/certs/your-certificate.crt;
        ssl_certificate_key /etc/pki/tls/private/your-certificate-key.key;

        location / {
          proxy_pass http://localhost:8080;
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
        }
      }

commands:
  01_copy_ssl_certificates:
    command: |
      aws acm export-certificates --certificate-arn arn:aws:acm:region:account-id:certificate/certificate-id --output-dir /etc/pki/tls/
