.logout-btn{
    position: absolute;
    top: 2em;
    right: 2em;
}
.home-page{
    height: 100%;
}

.home-page-title{ font-size: 5em;}

.widgets{
    display: flex;
    justify-content: flex-end;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    min-height: 50%;
}
.weather-widget-cont{
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    min-width: 37%;
}

.weather-widget{
    background-color: #1c1e1f;
    min-height: 100%;
    border-radius: 6%;
    display: flex;
    flex-direction: column;
}

.Weather-widget-title{
    text-align: center;
    font-size: 2.2em;
}

.weather-widget-specs{
    max-height: 80%;
    font-size: 1.5em;
    margin-left: 10%;
}

.view-forcast-btn {
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    margin-top: auto;
    margin-bottom: 2.5%;
}

.view-forcast-btn:hover{
    color: rgb(122, 118, 118);
    cursor: pointer;
}

.weather-widget-btn{
    font-size: 1.3em;
    color: #fff; 
    background-color: #007bff00;
    margin-top: 1%;
    cursor: pointer;
}

.weather-widget-btn:hover {
    color: black;
} 

.location-form input{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 4%;
    width: 70%;
    height: 3em;
    padding-left: 1%;
}

@media only screen and (min-width: 601px) and (max-width: 1120px) {
    .home-page-title{ margin-top: 20%;}

    .weather-widget-cont{
        width: 80%;
        margin: 0 10%;
    }
}

@media (max-width: 600px){

    .get-location-title{
        margin-top: 30%;
        font-size: 1em;
    }

    .home-page-title{
        font-size: 2.7em;
        margin-top: 40%;
    }

    .weather-widget-cont{
        width: 90%;
        margin: 5% 5%;
    }

    .Weather-widget-title{ 
        font-size: 1.6em;
        margin: 10%;
        transform: translateX(0);
        height: 0;
        margin-bottom: 25%;
    }

    .weather-widget-specs{ font-size: 1.1em;}

    .location-form input{ padding-left: 3%;}

    .view-forcast-btn {
        font-size: .9em;
        margin-bottom: 8%;
    }

    .weather-widget-btn{
        margin-top: 5%;
        font-size: .8em;
    }

}