.logout-btn{
    position: absolute;
    top: 2em;
    right: 2em;
}
.home-page{
    height: 100%;
}

.widgets{

    display: flex;
    justify-content: flex-end;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
}
.weather-widget-cont{
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    min-width: 37%;
    max-height: 50%;
}

.weather-widget{
    background-color: #1c1e1f;
    min-height: 90%;
    border-radius: 6%;
}

.Weather-widget-title{
    height: 20%;
    margin-left: 50%;
    font-size: 2.5em;
    transform: translateX(-50%);
}

.weather-widget-specs{
    max-height: 80%;
    font-size: 1.5em;
    margin-left: 10%;
}


.weather-widget-btn{
    font-size: 1.3em;
    color: #fff; 
    background-color: #007bff00;
    margin-top: 1%;
    cursor: pointer;
}

.weather-widget-btn:hover {
    color: black;
} 

.location-form input{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 4%;
    width: 70%;
    height: 3em;
    padding-left: 1%;
}