input:hover{
    background-color: rgb(235, 229, 229);
}

:focus::placeholder {color: transparent;}

.landing-title{
    font-size: 5em;
}

.login-btns{
    display: flex;
    margin-top: 2em;
    margin-right: 2em;
    justify-content: right;
}

.login-btns button:hover, .logout-btn:hover {
    background-color: #ffffff;
    color: black;
}
.feature-prefix{
    margin-top: 10%;
    margin-left: 15%;
    font-size: 3.2em;
}

.site-features{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 20%;
    font-size: 1.6em;
}
.site-features li{
    margin-top: 1%;
    text-align: left;
}

.registration-form, .logon-form, .recovery-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.win-close-btn:hover{
    color: black;
}


.registration-form input, .logon-form input, .recovery-form input{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 4%;
    width: 70%;
    min-height: 3em;
    padding-left: 1%;
}

.logon-form input, .recovery-form input{
    margin-top: 1.5%;
    margin-bottom: 0;
}

.form-input{
    position: relative;
}

.registration-error{
    position: absolute;
    bottom: -1%;
    font-size: 60%;
    text-align: left;
    margin-left: 16%;
    color: rgb(207, 66, 66);
}

.login-submit-btn, .recovery-submit-btn{
    position: absolute;
    right: 5%;
    bottom: 3%;
    width: 10%;
    height: 3em;
    font-size: .6em;
    background-color: white;
    cursor: pointer;
}

.registration-btn{
    width: 13%;
    min-height: 3em;
    font-size: .6em;
    background-color: white;
    cursor: pointer;
    align-self: flex-end;
    margin-right: 5%;
    margin-bottom: 5%;
}

.forgot-pass-btn{
    display: block;
    background-color: transparent;
    color: white;
    text-align: left;
    font-size: .6em;
    margin-top: .7em;
    margin-left: 16%;
    cursor: pointer;
}

.forgot-pass-btn:hover{
    color: black;
}

.recovery-text{
    text-align: left;
    margin: 0 15%;
    font-size: 1em;
}
@media only screen and (min-width: 1121px) and (max-width: 1900px) {
    .registration-form input{ margin-bottom: 5.5%;}

    .registration-error{ bottom: -15%;}
}

@media (max-width: 1120px) and (min-width: 551px){        
    .recovery-title{
        margin-top: 15%;
        font-size: 1.5em;
    }

    .registration-form input{ margin-bottom: 5.5%;}

    .registration-error{ 
        bottom: -18%;
        font-size: 50%;
    }
}

@media (max-width: 550px){
    
    .registration-form input, .logon-form input, .recovery-form input{ padding-left: 3%;}
    
    .registration-title{
        margin-top: 35%;
        font-size: 1.5em;
    }
    .login-title{
        margin-top: 35%;
        font-size: 1.4em;
    }
    .forgot-pass-btn{
        font-size: .5em;
    }
    .recovery-title{
        margin-top: 35%;
        font-size: 1.2em;
    }
    .recovery-text{
        font-size: .5em;
        margin-bottom: 5%;
    }
    .registration-btn{
        width: 40%;
        margin-bottom: 10%;
    }
    
    .registration-form input{ margin-bottom: 8%;}

    .registration-error{ 
        bottom: -14%;
        font-size: 40%;
    }
}