html,body {height:100%;}

a {text-decoration: none;}

#root{
    height: 100%;
}

body { 
    margin-left: 0;
    background-color: #1f2b12;
    color: ivory;
    font-family: "Roboto Mono";
}

.title{text-align: center;}

.login-btns button, .logout-btn{
    font-size: 1.5em;
    width: 5em;
    height: 2.5em;
    color: #ffffff;
    background-color: black;
    cursor: pointer;
}

.footer{
    font-size: 1.5em;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

button{
    border-style: none;
}

.popup-window{
    position: absolute;
    z-index: 2;
    top: 15%;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: #31393cf6;
    text-align: center;
    width: 50%;
    height: 70%;
    font-size: 2em;
    border-radius: 1.5%;
    overflow: auto;
}

.invis-window{
    position: absolute;
    z-index: 1;
    top: 0%;
    bottom: 0;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.win-close-btn{
    position: absolute;
    right: 4%;
    top: 3%;
    color: white;
    background-color: transparent;
    font-size: 100%;
    cursor: pointer;
}

.win-close-btn:hover{
    color: black;
}

.submit-btn{
    display: inline-block;
    position: absolute;
    right: 5%;
    bottom: 3%;
    width: 13%;
    height: 3em;
    font-size: .6em;
    background-color: white;
    cursor: pointer;
}

.submit-btn:hover{
    color: gray;
}

@media (max-width: 1120px){
    .popup-window{width: 80%;}        
    .submit-btn{ width: 30%;}
}

@media (max-width: 550px){
    .submit-btn{ width: 40%;}
}