html,body {height:100%; }

a {text-decoration: none;}

body { 
    margin-left: 0;
    font-family: "Roboto Mono";
    background-color: #1f2b12;
    color: ivory;
}

.title{
    text-align: center;
    font-size: 4em;
}


.login-btns button, .logout-btn{
    font-size: 1.5em;
    width: 5em;
    height: 2.5em;
    color: #ffffff;
    background-color: black;
}

.login-btns button:hover, .logout-btn:hover {
    background-color: #ffffff;
    color: black;
}

.footer{
    margin-top: 15%;
    padding-bottom: 10%;
    font-size: 1.5em;
    text-align: center;
}