
.recovery-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.recovery-text{
    text-align: left;
    margin: 0 5%;
    margin-bottom: 6%;
    font-size: 130%;
}

.recovery-form input{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 3.3em;
    padding-left: 1%;
}

.recovery-submit-btn{
    position: absolute;
    padding: 2% 5%;
    font-size: 120%;
    bottom: 10%;
    right: 10%;
}

@media (max-width: 1700px){
    .recovery-text{ font-size: 100%;}
}

@media (max-width: 1180px), (max-height: 1150px){
    .recovery-form input{ padding-left: 3%;}
}

@media (max-width: 700px){
    .recovery-form input{ padding-left: 3%;}
    .recovery-text{ font-size: 70%;}
    .recovery-submit-btn{font-size: 90%;}
}

@media (max-width: 500px){
    .recovery-text{ font-size: 50%;}
    .recovery-form input{ height: 2.5em;;}
}
