.location-form input{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 4%;
    width: 70%;
    height: 3em;
    padding-left: 1%;
}

@media (max-width: 600px){   
    .location-form input{ padding-left: 3%;}    
}