
.forgot-pass-btn{
    display: block;
    background-color: transparent;
    color: white;
    text-align: left;
    font-size: 60%;
    margin-top: 1%;
    margin-left: 16%;
    cursor: pointer;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-form input{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 4%;
    width: 70%;
    height: 3.5em;
    padding-left: 1%;
}

.login-form input{
    margin-top: 1.5%;
    margin-bottom: 0;
}

.login-submit-btn{
    position: absolute;
    padding: 2% 5%;
    font-size: 100%;
    bottom: 10%;
    right: 10%
}

.forgot-pass-btn:hover{ color: black;}

.login-btn:hover{ color: gray;}

@media (max-width: 600px){  
    .login-form input{ padding-left: 3%;}
    .forgot-pass-btn{ font-size: .5em;}
    .login-submit-btn{
        padding: 5% 5%;
        right: 15%;
    }
}
