
.forgot-pass-btn{
    display: block;
    background-color: transparent;
    color: white;
    text-align: left;
    font-size: .6em;
    margin-top: .7em;
    margin-left: 16%;
    cursor: pointer;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-form input{
    display: block;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 4%;
    width: 70%;
    height: 3.5em;
    padding-left: 1%;
}

.login-form input{
    margin-top: 1.5%;
    margin-bottom: 0;
}

.login-submit-btn{
    position: absolute;
    width: 20%;
    height: 10%;
    font-size: .8em;
    bottom: 10%;
    right: 10%
}

.forgot-pass-btn:hover{ color: black;}

.login-btn:hover{ color: gray;}

@media (max-height: 975px){
    .login-submit-btn{ width: 25%;}
}

@media (max-width: 550px){  
    .login-form input{ padding-left: 3%;}
    .forgot-pass-btn{ font-size: .5em;}
    .login-submit-btn{
        width: 30%;
        right: 15%;
    }
}
