.wordle-form{
    position: relative;
    height: 30%;
    margin-top: 5%;
    padding-bottom: 5%;
}

.wordle-form p{ text-align: center;}

.wordle-form input{
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 15%;
    padding-left: 1%;
}

.wordle-submit-btn{
    position: absolute;
    bottom: 15%;
    right: 5%;
    font-size: 100%;
    padding: 1%;
    background-color: white;
    cursor: pointer;
}

.get-word-btn{
    background-color: white;
    cursor: pointer;
    font-size: 1.5em;
    padding: 2%;
    margin-top: 2%;
}

.wordle-submit-btn:hover, .get-word-btn:hover{ color: gray;}

.todays-word-txt{ font-size: 1.7em;}

.daily-word-txt{ font-size: 3em;}

.no-attempts-cont, .successful-attempt-cont{
    margin-top: 5%;
    height: 30%;
    text-align: center;
    font-size: .8em;
    padding-left: 5%;
    padding-right: 5%;
}
@media (max-width: 1250px){
    .no-attempts-cont, .successful-attempt-cont{ font-size: .6em;}
    .get-word-btn{ width: 22%;}
}

@media (max-width: 750px){
    .wordle-form{padding-bottom: 12%;}
    .wordle-form input{ width: 80%;}
    .wordle-submit-btn{ 
        font-size: 85%;
        padding: 3%;
        right: 10%;
        bottom: 15%;
    }
}

@media (max-width: 500px){
    .wordle-form input{ padding-left: 3%;}
    .get-word-btn{ width: 28%;}
    .wordle-form{padding-bottom: 20%;}
    .wordle-form p{ font-size: 80%;}
}