.leetcode-widget{
    display: flex;
    background-color: #1c1e1f;
    flex-direction: column;
    border-radius: 2%;
    width: 100%;
    min-height: 400px;
    margin-bottom: 5%;
}

.leetcode-widget-title{ 
    text-align: center;
    margin-bottom: 5%;
    font-size: 300%;
    padding: 0 5%;
}

.leetcode-links{
    color: pink;
    margin-bottom: 5%;
}
.leetcode-links li{ margin: .5% 5%;}

.leetcode-link{
    color: white;
    font-size: 200%;
    padding-right: 5%;
}
.leetcode-link:hover, .get-new-qtns-btn:hover{
    color: rgb(122, 118, 118);
}

.get-new-qtns-btn{
    font-size: 250%;
    color: white;
    background-color: transparent;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 5%;
    margin-top: auto;
}

@media (max-width: 600px){

    .leetcode-widget-title{
        font-size: 250%;
    }

    .leetcode-link{
        font-size: 90%
    }

    .get-new-qtns-btn{
        font-size: 130%;
    }
}
