.close-btn-cont{
    display: grid;
    justify-items: end;
    height: 5%;
}

.win-close-btn{
    margin-right: 4%;
    height: 5%;
    margin-top: 2%;
    color: white;
    background-color: transparent;
    font-size: 100%;
    cursor: pointer;
}

.win-close-btn:hover{ color: black;}