.weather-widget{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.Weather-widget-title{
    text-align: center;
    font-size: 2.2em;
}

.weather-widget-specs{
    max-height: 80%;
    font-size: 1.5em;
    margin-left: 10%;
}

.view-forcast-btn {
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    margin-top: auto;
    margin-bottom: 2.5%;
}

.view-forcast-btn:hover, .weather-widget-btn:hover{
    color: rgb(122, 118, 118);
    cursor: pointer;
}

.weather-widget-btn{
    font-size: 1.3em;
    color: #fff; 
    background-color: #007bff00;
    margin-top: 1%;
    cursor: pointer;
}

@media (max-width: 600px){
    
    .Weather-widget-title{ 
        font-size: 1.6em;
        margin: 10%;
        transform: translateX(0);
        height: 0;
        margin-bottom: 25%;
    }
    
    .weather-widget-specs{ font-size: 1.1em;}
    
    .view-forcast-btn {
        font-size: .9em;
        margin-bottom: 8%;
    }
    
    .weather-widget-btn{
        margin-top: 5%;
        font-size: .8em;
    }
}